@import url(https://fonts.googleapis.com/css?family=Lora);
body{
width: 85%;
margin: 0 auto;
}
.map {
    margin: 25px;
    display: block;
    margin: 0 auto;
}
p {margin: 25px;}
h2 {
  font-family: monospace;
  color: #606060;
}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  width: 100%;
}
.four ul {
  display: -webkit-flex; 
  display: flex;
  background: #FFD7A7;
  padding-left: 0;
}
.four li {
    width: 30%
}
.four a {
  padding: 1em;
  display: block;
  color: #9B4222;
  border-right: 1px solid #FFAB51;
  background: rgba(255, 171, 81, .3);
}
.four a:hover {background: #FFAB51}
.fall {margin-top: 2%;}
.firefox {
    width: 100px;
    height: 100px;
}
.photo {
    width: 300px;
    height: 300px;
    margin: 4px;
}
#main_wrap { 
    display: table;
    height: 700px;
    
}

#sidebar {
    width: 0.5%;
    display: table-cell;
    border:3px solid black;
    text-align: center;
}


#content {
    display: table-cell;
    width: 5%;
    border:3px solid black;
    
}
footer {
    display: table-cell;
    width: 1%;
    text-align: center;
    border:3px solid black;
    height: 45px;
}